<template>
	<div class="container">

		<!-- --> <h2>Articles </h2>

		<form class="mb-3" method="POST" enctype="multipart/form-data" @submit.prevent="addArticle">
			<div class="form-group">
				<input type="text"  name="title" class="form-control mb-2" placeholder="Title" 
				v-model="article.title">
				<textarea name="description" class="form-control mb-3" placeholder="description"
				v-model="article.description">
				</textarea>
				<input type="file" name="cover_image" v-on:change="imageSelected">

				<button type="submit" class="btn btn-default btn-block" > Submit
				</button>
			</div>
		</form>

		<nav>
			<ul class="pagination" >
				<li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"> 
					<a href="" class="page-link" v-on:click="fetchArticles(pagination.prev_page_url)"> Previous</a></li>
					<li class="page-item disabled"> <a href="" class="page-link text-dark">
						{{meta.current_page}} of {{ meta.last_page}}	</a></li>
				<li class="page-item" v-bind:class="[{disabled:!pagination.next_page_url}]"> <a href="" class="page-link" @click="fetchArticles(links.next)"> Next</a> </li>
			</ul>
		</nav>

		<div class="card card-body mb-2" v-for="article in articles" v-bind:key="article.id">   
			<h2>{{article.title}} </h2>
			<h5>{{article.description}} </h5>
			<hr>
			<div class="row">
			<button class="btn btn-danger col-lg-6 col-md-6" @click="deleteArticle(article.id)"> Delete </button>
			<button class="btn btn-primary col-lg-6 col-md-6" @click="editArticle(article)"> Edit </button>
			</div>

		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return {
			articles: [],
			links:{},
			meta: {},
			article: {
				id: '',
				title: '',
				description: '',
				image: ''
			},
			article_id: '',
			pagination: {},
			edit: false
			}
		},
		created(){
			this.fetchArticles();
		},


		methods: {
			fetchArticles(page_url){
				let vm = this;
				page_url = page_url || 'api/articles';
				fetch(page_url)
				.then(res=> res.json())
				.then(res=> {this.articles = res.data;
					this.links = res.links;
					this.meta = res.meta;
					vm.makePagination(res.meta, res.links);
				}).catch(err=> console.log(err));


			},

			makePagination(meta, links){
				   let pagina = {
					current_page: meta.current_page,
					last_page: meta.last_page,
					next_page_url: links.next,
					prev_page_url: links.prev
				};
				this.pagination = pagina;
			},

			deleteArticle(id){
				if (confirm('Are You Sure?')) {
					fetch(`api/article/${id}`, {method:'delete'})
					.then(res => res.json())
					.then(data => {alert('article removed!');
						this.fetchArticles();
					})
					.catch(err => console.log(err));
				}

			},

				
			imageSelected(e){
						console.log(e.target.files[0]);
						this.article.image = e.target.files[0];
						console.log(this.article.image);
					},
					 	

			addArticle(){		
					let currentObj = this;

					let formData = new FormData();
					formData.append('article', currentObj.article.title);
					formData.append('article', currentObj.article.description);
					formData.append('article', currentObj.article.image);
					console.log(formData);



						if (this.edit === false) {
							//add
						fetch('api/article',
						{method: 'POST',
						body: formData,
						headers: {
							'Content-Type' : 'multipart/form-data',
							'Accept' : 'application/json'
						}

						})
						.then(res => res.json())
						.then(data => {
							console.log(data);
							this.article.title = '';
							this.article.description ='';
							this.article.image = '';
							alert('Article Added!');
							this.fetchArticles();
						})
						.catch(err => console.log(err));
						
					} else{
						//edit

						fetch('api/article',
						{method: 'PUT',
						body: 
							formData,
						headers: {
							'content-type' : 'multipart/form-data'
							
						}

						})
						.then(res => res.json())
						.then(data => {
							this.article.title = '';
							this.article.description ='';
							this.article.image = '';
							alert('Article Updated!');
							this.fetchArticles();
						})
						.catch(err => console.log(err));
					}
						},

						editArticle(article){
							this.edit = true;
							// this.article.article_id = article.id;
							this.article.id = article.id;
							this.article.title = article.title;
							this.article.description = article.description;
							if (article.image) {
								this.article.image = article.image;
							} 
						}

						}
			// REMEMBER TO RE-ADD A COMMA TO "data(){}" AFTER TROUBLESHOOTING
						};
					</script>
					<!--

					/*
					fetch('api/article', 
						{method: 'post',
						body: JSON.stringify(this.article),
						headers: {'content-type': 'application/json'}})
					.then(res => res.json())
					.then(data=>{
						this.article.title = '';
						this.article.descrition = '';
						 alert('Article added!');
						 this.fetchArticles();
						})
					.catch(err=>console.log(err)); */ 
				}



						let formData = new FormData();
						formData.append('image': this.image);
						formData.append('article': this.article);

						let headers = new Headers();
						headers.append('content-type' = 'multipart/form-data');
-->

