<template>
	<div>
	<!--<nav class="navbar navbar-expand-sm navbar-light bg-primary mb-2"> 
	    <div class="container"> 
		   <a href="#" class="navbar-brand">Adams Enterprise </a>
		</div>
	</nav> -->

	<!-- New Navbar -->

     <nav class="navbar navbar-expand-md navbar-light bg-primary navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="">
                    Adams Enterprise
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    {{ Auth::user()->name }} <span class="caret"></span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item href=""> More info
                                    </a>

                                    <form id="logout-form" action="" method="POST" style="display: none;">
                                        
                                    </form>
                                </div>
                            </li>
                       
                    </ul>
                </div>
            </div>
        </nav>

	</div>
</template>